body {
    background-color: blueviolet;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.text {
    width: 400px;
    min-height: auto;
}